:root {
  --text-color: black;
  --light-text-color: #7e7e7e;
  --background-color: white;
  --menu-header-color: #d8860b;
  --green-color: #00ff00;
  --shadow-one: rgba(0, 0, 0, 0.4);
  --shadow-two: rgba(156, 27, 27, 0.6);
  --blue-color: #007bff;
  --main-hue: 200;
  --main-color: hsl(var(--main-hue), 92%, 55%);
  --light-main-color: hsl(var(--main-hue), 91%, 55%);
  --bg-color: #fff;
  --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
  --input-text: #8c9aaf;
  --black-color: #000;
  --white-color: #fff;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body.dark-theme {
  background-color: #111111;
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  .header {
    position: fixed;
    z-index: 99;
    background-color: var(--background-color);
    transition: background-color 0.5s ease;
    backdrop-filter: blur(10px);
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 0px 20px 12px;
    justify-content: space-around;

    .left-header {
      display: flex;
      justify-content: flex-start;
      width: 40%;

      .header-text {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rk-logo {
          display: flex;
          align-items: center;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          border: 1px solid var(--text-color);
          margin-right: 30px;
          box-shadow: 0 0 5px var(--text-color);

          @media screen and (max-width: 768px) {
            height: 30px;
            width: 30px;
          }

          a {
            text-decoration: none;
            color: var(--text-color);
            font-size: 35px;
            transition: 0.3s ease-in-out;

            @media screen and (max-width: 768px) {
              font-size: 25px;
            }
          }
        }
      }
    }

    .right-header {
      display: flex;
      justify-content: space-around;
      gap: 20px;
      align-items: center;
      padding-right: 12px;

      @media screen and (max-width: 1024px) {
        justify-content: unset;
        flex-direction: row-reverse;
        padding-right: 0px;
      }

      .menu-list-section {
        .hamburger-menu {
          width: 35px;
          height: 30px;
          margin: 30px 0 20px 20px;
          cursor: pointer;
          z-index: 100;
          display: none;
          position: relative;
          top: 4px;

          @media screen and (max-width: 1024px) {
            display: block;
            margin: 0px 15px !important;
          }

          .bar {
            width: 100%;
            height: 5px;
            background-color: var(--text-color);
            display: block;
            border-radius: 5px;
            transition: 0.3s ease;
          }

          .bar1 {
            transform: translateY(-4px);
          }

          .bar3 {
            transform: translateY(4px);
          }
        }

        .menu-icon-active {
          .bar1 {
            transform: translateY(4px) rotate(-45deg);
          }

          .bar2 {
            opacity: 0;
          }

          .bar3 {
            transform: translateY(-6px) rotate(45deg);
          }
        }

        .navigation-icon {
          display: block !important;
          transition: transform .3s ease-in-out;

          .list-menu {
            display: block !important;
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 100vh;
            padding: 0px 50px;
            transition: transform .3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.5);
            text-align: end;
            padding-top: 80px !important;

            li {
              margin: 40px 80px 40px 12px !important;

              a {
                text-decoration: none;
                color: var(--text-color);
                font-size: 20px;
                transition: 0.3s ease-in-out;
                border: 3px solid transparent;

                &:hover {
                  color: var(--menu-header-color) !important;
                  border-bottom: 3px solid var(--menu-header-color);
                }
              }

              .active {
                color: var(--menu-header-color) !important;
                border-bottom: 3px solid var(--menu-header-color);
                font-size: 20px;
              }
            }
          }
        }

        .navigation-header {
          @media screen and (max-width:1024px) {
            display: none;
          }

          .list-menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              margin: 0px 12px;

              a {
                text-decoration: none;
                color: var(--text-color);
                font-size: 20px;
                transition: 0.3s ease-in-out;
                border: 3px solid transparent;

                &:hover {
                  color: var(--menu-header-color) !important;
                  border-bottom: 3px solid var(--menu-header-color);
                }
              }

              .active {
                color: var(--menu-header-color) !important;
                border-bottom: 3px solid var(--menu-header-color);
                font-size: 20px;
              }
            }
          }
        }
      }

      .theme-mode-section {
        @media screen and (max-width: 1025px) {
          display: none;
        }

        label {
          width: 80px;
          height: 40px;
          position: relative;
          display: block;
          background: #ebebeb;
          border-radius: 200px;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4),
            inset 0px -5px 15px rgba(255, 255, 255, 0.5);
          cursor: pointer;
          transition: 0.3s;
        }

        label:after {
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 5px;
          left: 5px;
          background: linear-gradient(180deg, #ffcc89 0%, #d8860b 100%);
          border-radius: 180px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          transition: 0.3s;
        }

        input {
          width: 0;
          height: 0;
          visibility: hidden;
          display: none;
        }

        input:checked+label {
          background: #242424;
        }

        input:checked+label:after {
          left: 40px;
          transform: translateX(-100%, #777, #3a3a3a);
          background: linear-gradient(180deg, #777, #3a3a3a);
        }

        label svg {
          position: absolute;
          width: 20px;
          top: 10px;
          z-index: 100;
        }

        label svg.sun {
          left: 10px;
          fill: #fff;
          transition: 0.3s;
        }

        label svg.moon {
          left: 45px;
          fill: #7e7e7e;
          transition: 0.3s;
        }

        input:checked+label svg.sun {
          fill: #7e7e7e;
        }

        input:checked+label svg.moon {
          fill: #fff;
        }
      }

      .mobile-theme-mode-section {
        display: none;

        @media screen and (max-width: 1024px) {
          display: block;
        }

        i {
          font-size: 28px;
        }
      }
    }
  }

  .show {
    display: block !important;
  }

  .notification-container {
    display: none;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99999;

    .toast-message {
      position: relative;
      padding: 10px;
      color: #fff;
      width: 400px;
      display: grid;
      grid-template-columns: 70px 1fr 70px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #0abf3055, #22242f 30%);
      animation: show 0.3 ease 1 forwards;

      .icon {
        font-size: 24px;
        font-weight: 700;
        color: #0abf30;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .content {
        .title {
          font-size: 24px;
          font-weight: 700;
        }

        .sub-text {
          color: #fff;
          opacity: 0.6;
        }
      }


      .close-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        opacity: 0.6;
      }
    }

    .toast-message::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #0abf30;
      height: 3px;
      box-shadow: 0 0 10px #0abf30;
      // animation: timeOut 5s linear 1 forwards;
    }

    @keyframes show {
      0% {
        transform: translateX(100%);
      }

      45% {
        transform: translateX(-5%);
      }

      80% {
        transform: translateX(0%);
      }

      100% {
        transform: translateX(-10&);
      }
    }

    @keyframes timeOut {
      to {
        width: 0;
      }
    }
  }

  section {
    min-height: 100vh;
    padding: 80px 100px;
    overflow-x: hidden !important;

    @media screen and (max-width: 768px) {
      padding: 80px 20px 40px 20px;
      min-height: auto;
    }
  }

  .home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      margin-top: 120px;
      flex-direction: column-reverse;
      gap: 80px;
    }

    .home-sub-content {
      .main-text {
        font-size: 32px;
        font-weight: 600;

        span {
          color: var(--menu-header-color);
        }
      }

      .text-animation {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 600;

        span {
          color: var(--menu-header-color);
        }
      }

      .home-context {
        font-size: 22px;
        margin: 20px 0;
        padding-right: 30px;
      }

      .social-icons {
        margin-top: 20px;

        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          background: transparent;
          border: 1px solid var(--menu-header-color);
          font-size: 24px;
          margin: 0px 20px;
          border-radius: 50%;
          color: var(--menu-header-color);
          transition: 0.3s ease-in-out;

          &:first-child {
            margin-left: 0px;
          }
        }

        a:hover {
          background: var(--menu-header-color);
          transform: scale(1.3) translateY(-2px);
          color: var(--background-color);
        }
      }

      .download-resume-button {
        margin-top: 20px;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        background: var(--menu-header-color);
        font-size: 20px;
        border: 2px solid var(--light-text-color);
        letter-spacing: 1.3px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--background-color);
        }

        &:hover {
          transform: scale(1.1);
          border-bottom: 2px solid var(--menu-header-color);
          transition: 0.3s ease-in-out;
        }
      }
    }

    .second-part-home {
      .image-section {
        border-radius: 50%;
        height: 350px;
        width: 350px;

        img {
          height: 100%;
          width: 100%;
          position: relative;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 0 25px var(--menu-header-color);
          cursor: pointer;
          transition: 0.4s ease-in-out;

          &:hover {
            box-shadow: 0 0 50px var(--menu-header-color);
          }
        }
      }
    }
  }

  .about-section {
    margin-top: 30px;

    .heading-part {
      .section-heading {
        font-size: 32px;
        font-weight: 600;
        color: var(--text-color);
      }

      .section-sub-heading {
        font-size: 22px;
        font-weight: 400;
        color: var(--light-text-color);
      }
    }

    .about-section-container {
      display: flex;
      align-items: center;
      gap: 100px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 50px;
        gap: 10px;
      }

      .about-section-one-part {
        position: relative;

        @media screen and (max-width: 768px) {
          width: auto;
        }

        .about-section-image {
          height: 350px;
          width: 350px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .logo {
            position: absolute;
            width: 280px;
            height: 280px;
            background: url(./assets/images/Ritesh\ Circular\ Image.png);
            background-size: cover;
            border-radius: 50%;
            filter: brightness(1.3) contrast(0.7);
          }

          .text {
            position: absolute;
            width: 100%;
            height: 100%;
            animation: rotateText 5s linear infinite;

            span {
              position: absolute;
              left: 50%;
              font-size: 20px;
              font-family: monospace;
              font-weight: 600;
              color: var(--text-color);
              transform-origin: 0 175px;
            }
          }
        }
      }

      .about-section-second-part {
        .details-section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 40px;

          @media screen and (max-width: 768px) {
            grid-template-columns: auto;
          }

          .details-container {
            display: flex;
            justify-content: center;
            text-align: center;
            border-radius: 20px;
            border: 1px solid var(--text-color);
            padding: 10px 10px 30px 10px;

            .details-zone {
              .info-icon {
                i {
                  font-size: 22px;
                }
              }

              .info-head {
                margin: 20px 0px 10px 0px;
                font-weight: 600;
              }
            }
          }
        }

        .about-section-text {
          margin-top: 30px;
          font-size: 18px;
        }

        .langugae-skills {
          margin-top: 30px;

          .heading {
            font-size: 18px;
            font-weight: 600;
            color: var(--text-color);
          }

          .info {
            margin-top: 10px;
            font-size: 16px;
          }
        }
      }
    }

    .showcase-container {
      margin-top: 70px;

      .section {
        border-radius: 5px;
        padding: 30px 0px;
        border: 1px solid grey;
        box-shadow: 1px 1px 10px grey;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .box {
          text-align: center;
          font-weight: 600;
          font-size: 18px;

          .count-box {
            display: flex;
            justify-content: center;
            gap: 3px;
            margin-bottom: 20px;
            color: var(--menu-header-color);
          }
        }
      }
    }
  }

  .experience-section {
    .heading-part {
      .section-heading {
        font-size: 32px;
        font-weight: 600;
        color: var(--text-color);
      }

      .section-sub-heading {
        font-size: 22px;
        font-weight: 400;
        color: var(--light-text-color);
      }
    }

    .experience-container {
      margin-top: 40px;

      .heading-section {
        text-align: center;

        .heading {
          font-weight: 400;
          font-size: 32px;
          color: var(--light-text-color);
        }

        .sub-heading {
          font-weight: 700;
          font-size: 48px;
        }
      }

      .experience-section {
        .timeline-section {
          position: relative;
          max-width: 1200px;
          margin: 100px auto;

          .container {
            position: relative;
            width: 42%;
            padding: 10px 50px;
            opacity: 0;
            animation: movedown 1s linear forwards;
            cursor: pointer;

            &:hover {

              // box-shadow: 0 0 25px var(--menu-header-color);
              .text-box {
                box-shadow: 0 0 25px green;
              }
            }

            .work-image {
              position: absolute;
              width: 40px;
              border-radius: 50%;
              right: -14px;
              top: 32px;
              z-index: 10;
              object-fit: none;
              background: white;
              box-shadow: 0 0 50px var(--menu-header-color);
            }

            .text-box {
              position: relative;
              padding: 20px 30px;
              box-shadow: 0 0 25px var(--menu-header-color);
              border-radius: 6px;
              font-size: 15px;

              .work-area {
                display: flex;
                justify-content: space-between;

                .work-heading {
                  font-size: 22px;
                  font-weight: 600;
                  color: var(--text-color);
                }

                .work-location {
                  font-size: 18px;
                  color: var(--light-text-color);
                }

              }

              .work-experience {
                margin-top: 20px;

                .work-position {
                  font-size: 20px;
                }

                .work-time {
                  color: var(--light-text-color);
                }

                .work-details {
                  margin-top: 20px;

                  .work-info {}
                }
              }

              .left-container-arrow {
                height: 0;
                width: 0;
                position: absolute;
                top: 28px;
                z-index: 1;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid var(--background-color);
                right: -11px;
              }

              .right-container-arrow {
                height: 0;
                width: 0;
                position: absolute;
                top: 28px;
                z-index: 1;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 15px solid var(--background-color);
                left: -14px;
              }
            }

            &:nth-child(1) {
              animation-delay: 0s;
            }

            &:nth-child(2) {
              animation-delay: 1s;
            }

            &:nth-child(3) {
              animation-delay: 2s;
            }
          }

          @keyframes movedown {
            0% {
              opacity: 0;
              transform: translateY(-30px);
            }

            100% {
              opacity: 1;
              transform: translateY(0px);
            }

          }

          .left-container {
            left: -6px;
          }

          .right-container {
            left: 50%;

            img {
              left: -20px;
            }
          }

          &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            background: var(--text-color);
            left: 50%;
            top: 0;
            margin-left: -3px;
            z-index: -1;
            animation: moveline 6s linear forwards;
          }

          @keyframes moveline {
            0% {
              height: 0;
            }

            100% {
              height: 100%;
            }
          }
        }

        @media screen and (max-width:787px) {
          .timeline-section {
            margin: 50px auto;

            &::after {
              left: 31px;
            }

            .container {
              width: 80%;
              margin-top: 40px;
              padding: 0px 25px 0px 80px;

              img {
                left: 10px;
              }

              .arrow {
                border-right: 15px solid var(--background-color) !important;
                border-left: 0 !important;
                left: -15px;
              }
            }

            .right-container {
              left: 0;
            }
          }
        }
      }
    }

    .service-container {
      .heading-section {
        text-align: center;

        .heading {
          font-weight: 700;
          font-size: 48px;
        }
      }

      .service-section {
        margin-top: 60px;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(3, 1fr);

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 420px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          opacity: 0.6;
          border-radius: 5px;
          padding: 20px 40px;
          box-shadow: 1px 1px 10px grey;
          cursor: pointer;

          &:hover {
            opacity: 1;
            box-shadow: 1px 1px 20px grey;
          }

          .icon {
            i {
              font-size: 40px;
              color: var(--menu-header-color);
            }
          }

          .title {
            margin-top: 30px;
            font-size: 20px;
            font-weight: 600;
          }

          .text {
            font-size: 16px;
            font-size: 400;
          }
        }
      }
    }

    .skills-container {
      margin-top: 100px;

      .info-heading-section {
        .info-heading {
          text-decoration: underline;
          font-size: 32px;
          font-weight: 600;
          color: var(--text-color);
        }

        .info-sub-heading {
          font-size: 22px;
          font-weight: 400;
          color: var(--light-text-color);
        }
      }

      .skills-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 50px;
        margin-top: 40px;

        @media screen and (max-width: 1024px) {
          grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 420px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .html-box {
          box-shadow: 0 0 15px orange;
        }

        .css-box {
          box-shadow: 0 0 15px blue;
        }

        .js-box {
          box-shadow: 0 0 15px yellow;
        }

        .typescript-box {
          box-shadow: 0 0 15px blue;
        }

        .nodejs-box {
          box-shadow: 0 0 15px green;
        }

        .vuejs-box {
          box-shadow: 0 0 15px green;
        }

        .nuxtjs-box {
          box-shadow: 0 0 15px green;
        }

        .prismic-box {
          box-shadow: 0 0 15px purple;
        }

        .linux-box {
          box-shadow: 0 0 15px #000;
        }

        .skills-box {
          padding: 20px;
          border-radius: 10px;
          transition: 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
          }

          .skills-heading {
            font-size: 22px;
            font-weight: 600;
            color: var(--text-color);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .skills-icon {
              height: 60px;
              width: 60px;

              img {
                height: 100%;
                width: 100%;
              }
            }

            .skills-title {
              margin-top: 10px;
              font-size: 18px;
              color: var(--light-text-color);
            }
          }

          .skills-info {
            margin-top: 20px;
            font-size: 18px;
            color: var(--light-text-color);
          }
        }
      }
    }

  }

  .project-section {

    .project-container {
      display: flex;
      justify-content: center;
      min-height: 700px;

      @media screen and (max-width: 768px) {
        min-height: 500px;
      }

      // position: relative;
      .heading {
        position: relative;
      }

      .info-heading-section {
        position: relative;
        display: flex;
        justify-content: center;

        .info-heading-stroke {
          font-size: 58px;
          font-weight: 400;
          color: var(--background-color);
          -webkit-text-stroke: 1px var(--text-color);
          opacity: 0.3;
          position: relative;
          right: -10px;
        }

        .info-heading {
          position: absolute;
          top: 12px;
          font-size: 60px;
          font-weight: 600;
          color: var(--text-color);
        }
      }

      .project-slider-zone {
        margin-top: 80px;
        position: absolute;
        width: 100vw;
        max-width: 1200px;
        height: 580px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
          height: 500px;
        }

        .slider {
          position: absolute;
          inset: 80px 200px 80px 80px;
          background: #ccc;
          border-radius: 20px;

          @media screen and (max-width: 768px) {
            position: absolute;
            inset: 40px 40px 200px 40px;
          }

          .slides {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 240px;
            height: 320px;
            background: var(--img);
            background-size: cover;
            background-position: center;
            transition: 0.5s;
            border-radius: 20px;
            box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);

            @media screen and (max-width: 768px) {
              width: 100px;
              height: 100px;
              bottom: 170px;
              box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
            }

            &:nth-child(1) {
              opacity: 0.8;
            }

            &:nth-child(1),
            &:nth-child(2) {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: translateY(0);
              box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
              background-size: cover;

              .content {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.5s;
              }
            }

            &:nth-child(3) {
              left: calc(50% + 240px);
              background-size: cover;

              @media screen and (max-width: 768px) {
                left: 0;
              }
            }

            &:nth-child(4) {
              left: calc(50% + 500px);
              background-size: cover;

              @media screen and (max-width: 768px) {
                left: 120px;
              }
            }

            &:nth-child(5) {
              left: calc(50% + 760px);
              background-size: cover;

              @media screen and (max-width: 768px) {
                left: 240px;
              }
            }

            &:nth-child(6) {
              left: calc(50% + 1020px);
              background-size: cover;
              opacity: 0;

              @media screen and (max-width: 768px) {
                left: 360px;
                opacity: 0;
              }
            }

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              @media screen and (max-width: 768px) {
                height: 60px;
                top: 330px;
              }
            }

            &:nth-child(1) {
              @media screen and (max-width: 768px) {
                opacity: 0;
              }
            }

            .content {
              position: absolute;
              bottom: 0px;
              padding: 40px;
              max-width: 600px;
              transition: 0.25s;
              transition-delay: 0s;
              z-index: 1000;
              transform: translateY(40px);
              opacity: 0;

              .context {
                background: rgba(83, 36, 202, 0.2);
                padding: 20px;
                border-radius: 5px;

                .project-title {
                  font-size: 22px;
                  font-weight: 700;
                  color: var(--white-color);

                  @media screen and (max-width: 768px) {
                    font-size: 16px;
                  }
                }

                .project-details {
                  font-size: 20px;
                  font-weight: 500;
                  color: var(--white-color);

                  @media screen and (max-width: 768px) {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }

        .button {
          position: absolute;
          bottom: 0px;
          display: flex;
          gap: 80px;

          span {
            position: relative;
            width: 50px;
            height: 50px;
            background: #111111;
            opacity: 0.6;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            &:hover {
              opacity: 1;
              background: #22242f;
            }

            &::before {
              content: '';
              position: absolute;
              width: 15px;
              height: 15px;
              border-top: 4px solid #fff;
              border-left: 4px solid #fff;
              transform: rotate(315deg) translate(2px, 2px);
            }

            &:nth-child(2)::before {
              transform: rotate(135deg) translate(2px, 2px);
            }

          }
        }
      }
    }
  }

  .education-section {
    .heading-part {
      .section-heading {
        font-size: 32px;
        font-weight: 600;
        color: var(--text-color);
      }

      .section-sub-heading {
        font-size: 22px;
        font-weight: 400;
        color: var(--light-text-color);
      }
    }

    .education-container-box:last-child {
      margin-bottom: 30px;
    }

    .education-container-box {
      height: 400px;
      width: 80vw;
      position: relative;
      margin-top: 40px;
      margin-bottom: 400px;

      @media screen and (max-width:767px) {
        margin-bottom: 200px;
      }

      .card_container {
        .pg {
          position: absolute;
          height: 450px;
          width: 40%;
          right: -10px;
          bottom: 0px;
          z-index: 2;

          @media screen and (max-width: 768px) {
            display: none;
          }

          img {
            height: 510px;
          }
        }
      }

      .card {
        animation: backAn 50s infinite;
        color: #fff;
        padding: 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        box-shadow: 0px 45px 100px var(--shadow-one), inset 0 0 0 1000px var(--shadow-two);

        .text-block {
          position: relative;
          z-index: 2;
          text-shadow: 0 3 10 rgba(0, 0, 0, 0.7);

          h1 {
            font-family: "Rubik", Sans-serif;
            font-size: 3em;
            margin: 0;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
          }


          small {
            font-size: 20px;
            color: var(--light-text-color);
            position: relative;
          }

          h3 {
            margin: 0;
            font-weight: 700;
          }

          p {
            font-weight: 300;
            width: 60%;
          }
        }
      }

      .card-tenth {
        background: url(./assets/images/DAV.jpeg);
      }

      .card-twelve {}

      .card-graduation {
        background: url(./assets/images/JNCT.jpg);
      }

      @keyframes backAn {
        0% {
          background-size: 100%;
        }

        50% {
          background-size: 150%;
        }

        100% {
          background-size: 100%;
        }
      }
    }
  }

  .contact-section {
    .heading-part {
      .section-heading {
        font-size: 32px;
        font-weight: 600;
        color: var(--text-color);
      }

      .section-sub-heading {
        font-size: 22px;
        font-weight: 400;
        color: var(--light-text-color);
      }
    }

    .contact-main-section {
      margin-top: 40px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(./assets/images/DAV.jpeg);
        background-size: cover;
        z-index: -1;
        filter: blur(10px);
      }

      .contact-box-container {
        max-width: 900px;
        min-height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        margin: 40px 0px;
        padding: 10px 40px;

        @media screen and (max-width: 768px) {
          display: block;
          padding: 20px 10px;
        }

        .contact-section-left-side {
          .head-text {
            font-size: 20px;
            padding-left: 10px;
            color: var(--text-color);
          }

          .image-section {}

          .detail-section {
            .data {
              margin: 15px;
              cursor: pointer;

              a {
                color: var(--text-color);
                text-decoration: none;

                &:hover {
                  border-bottom: 1px solid var(--text-color);
                }
              }

              i {
                font-size: 20px;
              }

              span {
                margin-left: 10px;
                font-size: 18px;
              }
            }
          }

          .social-media-container {
            margin-top: 80px;

            .sub-text {
              font-size: 20px;
              padding-left: 12px;
              color: var(--text-color);
            }

            .social-media-list {
              display: flex;
              padding: 0;

              li {
                list-style: none;

                &:nth-child(1) {
                  a:before {
                    background: #3b5999;
                  }
                }

                &:nth-child(2) {
                  a:before {
                    background: rgba(255, 0, 0, 0.5);
                  }
                }

                &:nth-child(3) {
                  a:before {
                    background: #3b5999;
                  }
                }

                &:nth-child(4) {
                  a:before {
                    background: #0077b5;
                  }
                }

                &:nth-child(5) {
                  a:before {
                    background: #55acee;
                  }
                }

                a {
                  width: 50px;
                  height: 50px;
                  background-color: #fff;
                  text-align: center;
                  line-height: 80px;
                  font-size: 28px;
                  margin: 0 10px;
                  display: block;
                  border-radius: 50%;
                  position: relative;
                  overflow: hidden;
                  border: 3px solid #fff;
                  z-index: 1;

                  @media screen and (max-width:767px) {
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                  }

                  &::before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #f00;
                    transition: .5s;
                    z-index: 2;
                  }

                  &:hover::before {
                    top: 0;
                  }

                  &:hover .icon {
                    color: #fff;
                    transform: rotateY(360deg);
                  }

                  .icon {
                    position: relative;
                    bottom: 12px;
                    color: #262626;
                    transition: .5s;
                    z-index: 3;

                    @media screen and (max-width:767px) {
                      bottom: 25px;
                    }
                  }
                }
              }
            }
          }
        }

        .contact-section-right-side {
          padding: 25px 40px;

          .heading-text {}

          .form-section {

            .contact-form {
              display: grid;
              grid-column: span 2;
              margin-top: 2.55rem;
              column-gap: 2rem;
              row-gap: 1rem;

              .input-wrap {
                position: relative;

                .contact-input {
                  width: 70%;
                  background-color: var(--input-bg);
                  padding: 1.5rem 4.35rem calc(0.75rem - 2px) 1.35rem;
                  border: none;
                  outline: none;
                  border-radius: 20px;
                  color: var(--black-color);
                  font-size: 0.95rem;
                  font-weight: 600;
                  border: 2px solid transparent;
                  box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 55%, 0.169);
                  transition: 0.3s;
                  -webkit-line-clamp: 4;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  word-break: break-all;
                  overflow: hidden;

                  &:hover {
                    background-color: hsla(var(--input-bg-hover), 50%, 50%, 8.5%);
                  }
                }

                label {
                  position: absolute;
                  top: 50%;
                  left: calc(1.35rem + 2px);
                  transform: translateY(-50%);
                  color: var(--light-text-color);
                  pointer-events: none;
                  transition: 0.25s;
                }

                .icon {
                  position: absolute;
                  top: 50%;
                  right: 50px;
                  transform: translateY(-50%);
                  pointer-events: none;
                  color: var(--input-text);
                  font-size: 1.25rem;
                  transition: 0.3s;

                  @media screen and (max-width: 768px) {
                    right: 10px;
                  }
                }
              }

              textarea.contact-input {
                resize: none;
                width: 70%;
                min-height: 100px;
                -webkit-line-clamp: 4;
                white-space: unset !important;
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
              }

              textarea.contact-input~label {
                top: 1.2rem;
                transform: none;
              }

              textarea.contact-input~.icon {
                top: 1.3rem;
                transform: none;
              }

              .input-wrap.focus .contact-input {
                background-color: var(--bg-color);
                border: 2px solid hsla(var(--light-main-color), 91%, 55%, 8.5%);
                box-shadow: 0 0 0 0px hsla(var(--main-hue), 91%, 55%, 0.11);

              }

              .input-wrap.focus label {
                color: var(--light-main-color);
              }

              .input-wrap.focus .icon {
                color: var(--light-main-color);
              }

              .input-wrap.not-empty label {
                font-size: 0.66rem;
                top: 0.75rem;
                transform: translateY(0);
              }

              .submit-button {
                margin-top: 10px;

                .button {
                  display: inline-block;
                  padding: 10px 20px;
                  background-color: var(--input-bg-hover);
                  color: var(--text-color);
                  border-radius: 40px;
                  border: none;
                  font-weight: 500;
                  cursor: pointer;

                  &:hover {
                    background-color: var(--light-text-color);
                  }
                }
              }

            }
          }
        }
      }
    }
  }

  .footer {
    padding: 70px 0px 40px 0px;
    border-top: 1px solid var(--light-text-color);

    @media screen and (max-width:767px) {
      padding: 20px 0px 20px 0px;
    }

    .footer-container {
      display: flex;
      justify-content: center;

      .footer-section {
        .footer-heading {
          .list-menu {
            display: flex;

            @media screen and (max-width:767px) {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              padding: 0;
            }

            li {
              list-style: none;
              margin: 0px 20px;

              @media screen and (max-width:767px) {
                margin: 20px !important;
              }

              a {
                color: var(--text-color);
                text-decoration: none;
                transition: 0.2s ease-in-out;

                &:hover {
                  color: var(--menu-header-color);
                }
              }
            }
          }
        }

        .copyright-section {
          margin-top: 40px;
          text-align: center;
          color: var(--light-text-color);
        }
      }
    }
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}