:root {
  --text-color: black;
  --light-text-color: #7e7e7e;
  --background-color: white;
  --menu-header-color: #d8860b;
  --green-color: #00ff00;
  --shadow-one: rgba(0, 0, 0, 0.4);
  --shadow-two: rgba(156, 27, 27, 0.6);
  --blue-color: #007bff;
  --main-hue: 200;
  --main-color: hsl(var(--main-hue), 92%, 55%);
  --light-main-color: hsl(var(--main-hue), 91%, 55%);
  --bg-color: #fff;
  --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
  --input-text: #8c9aaf;
  --black-color: #000;
  --white-color: #fff;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body.dark-theme {
  background-color: #111111;
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.5s ease;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
body .header {
  position: fixed;
  z-index: 99;
  background-color: var(--background-color);
  transition: background-color 0.5s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 0px 20px 12px;
  justify-content: space-around;
}
body .header .left-header {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}
body .header .left-header .header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .header .left-header .header-text .rk-logo {
  display: flex;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  margin-right: 30px;
  box-shadow: 0 0 5px var(--text-color);
}
@media screen and (max-width: 768px) {
  body .header .left-header .header-text .rk-logo {
    height: 30px;
    width: 30px;
  }
}
body .header .left-header .header-text .rk-logo a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 35px;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  body .header .left-header .header-text .rk-logo a {
    font-size: 25px;
  }
}
body .header .right-header {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  padding-right: 12px;
}
@media screen and (max-width: 1024px) {
  body .header .right-header {
    justify-content: unset;
    flex-direction: row-reverse;
    padding-right: 0px;
  }
}
body .header .right-header .menu-list-section .hamburger-menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 100;
  display: none;
  position: relative;
  top: 4px;
}
@media screen and (max-width: 1024px) {
  body .header .right-header .menu-list-section .hamburger-menu {
    display: block;
    margin: 0px 15px !important;
  }
}
body .header .right-header .menu-list-section .hamburger-menu .bar {
  width: 100%;
  height: 5px;
  background-color: var(--text-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
body .header .right-header .menu-list-section .hamburger-menu .bar1 {
  transform: translateY(-4px);
}
body .header .right-header .menu-list-section .hamburger-menu .bar3 {
  transform: translateY(4px);
}
body .header .right-header .menu-list-section .menu-icon-active .bar1 {
  transform: translateY(4px) rotate(-45deg);
}
body .header .right-header .menu-list-section .menu-icon-active .bar2 {
  opacity: 0;
}
body .header .right-header .menu-list-section .menu-icon-active .bar3 {
  transform: translateY(-6px) rotate(45deg);
}
body .header .right-header .menu-list-section .navigation-icon {
  display: block !important;
  transition: transform 0.3s ease-in-out;
}
body .header .right-header .menu-list-section .navigation-icon .list-menu {
  display: block !important;
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  padding: 0px 50px;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: end;
  padding-top: 80px !important;
}
body .header .right-header .menu-list-section .navigation-icon .list-menu li {
  margin: 40px 80px 40px 12px !important;
}
body .header .right-header .menu-list-section .navigation-icon .list-menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  transition: 0.3s ease-in-out;
  border: 3px solid transparent;
}
body .header .right-header .menu-list-section .navigation-icon .list-menu li a:hover {
  color: var(--menu-header-color) !important;
  border-bottom: 3px solid var(--menu-header-color);
}
body .header .right-header .menu-list-section .navigation-icon .list-menu li .active {
  color: var(--menu-header-color) !important;
  border-bottom: 3px solid var(--menu-header-color);
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  body .header .right-header .menu-list-section .navigation-header {
    display: none;
  }
}
body .header .right-header .menu-list-section .navigation-header .list-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .header .right-header .menu-list-section .navigation-header .list-menu li {
  margin: 0px 12px;
}
body .header .right-header .menu-list-section .navigation-header .list-menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  transition: 0.3s ease-in-out;
  border: 3px solid transparent;
}
body .header .right-header .menu-list-section .navigation-header .list-menu li a:hover {
  color: var(--menu-header-color) !important;
  border-bottom: 3px solid var(--menu-header-color);
}
body .header .right-header .menu-list-section .navigation-header .list-menu li .active {
  color: var(--menu-header-color) !important;
  border-bottom: 3px solid var(--menu-header-color);
  font-size: 20px;
}
@media screen and (max-width: 1025px) {
  body .header .right-header .theme-mode-section {
    display: none;
  }
}
body .header .right-header .theme-mode-section label {
  width: 80px;
  height: 40px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.3s;
}
body .header .right-header .theme-mode-section label:after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89 0%, #d8860b 100%);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
body .header .right-header .theme-mode-section input {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}
body .header .right-header .theme-mode-section input:checked + label {
  background: #242424;
}
body .header .right-header .theme-mode-section input:checked + label:after {
  left: 40px;
  transform: translateX(-100%, #777, #3a3a3a);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
body .header .right-header .theme-mode-section label svg {
  position: absolute;
  width: 20px;
  top: 10px;
  z-index: 100;
}
body .header .right-header .theme-mode-section label svg.sun {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
body .header .right-header .theme-mode-section label svg.moon {
  left: 45px;
  fill: #7e7e7e;
  transition: 0.3s;
}
body .header .right-header .theme-mode-section input:checked + label svg.sun {
  fill: #7e7e7e;
}
body .header .right-header .theme-mode-section input:checked + label svg.moon {
  fill: #fff;
}
body .header .right-header .mobile-theme-mode-section {
  display: none;
}
@media screen and (max-width: 1024px) {
  body .header .right-header .mobile-theme-mode-section {
    display: block;
  }
}
body .header .right-header .mobile-theme-mode-section i {
  font-size: 28px;
}
body .show {
  display: block !important;
}
body .notification-container {
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 99999;
}
body .notification-container .toast-message {
  position: relative;
  padding: 10px;
  color: #fff;
  width: 400px;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(10, 191, 48, 0.3333333333), #22242f 30%);
  animation: show 0.3 ease 1 forwards;
}
body .notification-container .toast-message .icon {
  font-size: 24px;
  font-weight: 700;
  color: #0abf30;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .notification-container .toast-message .content .title {
  font-size: 24px;
  font-weight: 700;
}
body .notification-container .toast-message .content .sub-text {
  color: #fff;
  opacity: 0.6;
}
body .notification-container .toast-message .close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0.6;
}
body .notification-container .toast-message::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0abf30;
  height: 3px;
  box-shadow: 0 0 10px #0abf30;
}
@keyframes show {
  0% {
    transform: translateX(100%);
  }
  45% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10 body .notification-container);
  }
}
@keyframes timeOut {
  to {
    width: 0;
  }
}
body section {
  min-height: 100vh;
  padding: 80px 100px;
  overflow-x: hidden !important;
}
@media screen and (max-width: 768px) {
  body section {
    padding: 80px 20px 40px 20px;
    min-height: auto;
  }
}
body .home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body .home-section {
    margin-top: 120px;
    flex-direction: column-reverse;
    gap: 80px;
  }
}
body .home-section .home-sub-content .main-text {
  font-size: 32px;
  font-weight: 600;
}
body .home-section .home-sub-content .main-text span {
  color: var(--menu-header-color);
}
body .home-section .home-sub-content .text-animation {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
}
body .home-section .home-sub-content .text-animation span {
  color: var(--menu-header-color);
}
body .home-section .home-sub-content .home-context {
  font-size: 22px;
  margin: 20px 0;
  padding-right: 30px;
}
body .home-section .home-sub-content .social-icons {
  margin-top: 20px;
}
body .home-section .home-sub-content .social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid var(--menu-header-color);
  font-size: 24px;
  margin: 0px 20px;
  border-radius: 50%;
  color: var(--menu-header-color);
  transition: 0.3s ease-in-out;
}
body .home-section .home-sub-content .social-icons a:first-child {
  margin-left: 0px;
}
body .home-section .home-sub-content .social-icons a:hover {
  background: var(--menu-header-color);
  transform: scale(1.3) translateY(-2px);
  color: var(--background-color);
}
body .home-section .home-sub-content .download-resume-button {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--menu-header-color);
  font-size: 20px;
  border: 2px solid var(--light-text-color);
  letter-spacing: 1.3px;
  cursor: pointer;
}
body .home-section .home-sub-content .download-resume-button a {
  text-decoration: none;
  color: var(--background-color);
}
body .home-section .home-sub-content .download-resume-button:hover {
  transform: scale(1.1);
  border-bottom: 2px solid var(--menu-header-color);
  transition: 0.3s ease-in-out;
}
body .home-section .second-part-home .image-section {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}
body .home-section .second-part-home .image-section img {
  height: 100%;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--menu-header-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
body .home-section .second-part-home .image-section img:hover {
  box-shadow: 0 0 50px var(--menu-header-color);
}
body .about-section {
  margin-top: 30px;
}
body .about-section .heading-part .section-heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
body .about-section .heading-part .section-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: var(--light-text-color);
}
body .about-section .about-section-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 768px) {
  body .about-section .about-section-container {
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
  }
}
body .about-section .about-section-container .about-section-one-part {
  position: relative;
}
@media screen and (max-width: 768px) {
  body .about-section .about-section-container .about-section-one-part {
    width: auto;
  }
}
body .about-section .about-section-container .about-section-one-part .about-section-image {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .about-section .about-section-container .about-section-one-part .about-section-image .logo {
  position: absolute;
  width: 280px;
  height: 280px;
  background: url(./assets/images/Ritesh\ Circular\ Image.png);
  background-size: cover;
  border-radius: 50%;
  filter: brightness(1.3) contrast(0.7);
}
body .about-section .about-section-container .about-section-one-part .about-section-image .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 5s linear infinite;
}
body .about-section .about-section-container .about-section-one-part .about-section-image .text span {
  position: absolute;
  left: 50%;
  font-size: 20px;
  font-family: monospace;
  font-weight: 600;
  color: var(--text-color);
  transform-origin: 0 175px;
}
body .about-section .about-section-container .about-section-second-part .details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  body .about-section .about-section-container .about-section-second-part .details-section {
    grid-template-columns: auto;
  }
}
body .about-section .about-section-container .about-section-second-part .details-section .details-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--text-color);
  padding: 10px 10px 30px 10px;
}
body .about-section .about-section-container .about-section-second-part .details-section .details-container .details-zone .info-icon i {
  font-size: 22px;
}
body .about-section .about-section-container .about-section-second-part .details-section .details-container .details-zone .info-head {
  margin: 20px 0px 10px 0px;
  font-weight: 600;
}
body .about-section .about-section-container .about-section-second-part .about-section-text {
  margin-top: 30px;
  font-size: 18px;
}
body .about-section .about-section-container .about-section-second-part .langugae-skills {
  margin-top: 30px;
}
body .about-section .about-section-container .about-section-second-part .langugae-skills .heading {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}
body .about-section .about-section-container .about-section-second-part .langugae-skills .info {
  margin-top: 10px;
  font-size: 16px;
}
body .about-section .showcase-container {
  margin-top: 70px;
}
body .about-section .showcase-container .section {
  border-radius: 5px;
  padding: 30px 0px;
  border: 1px solid grey;
  box-shadow: 1px 1px 10px grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .about-section .showcase-container .section .box {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
body .about-section .showcase-container .section .box .count-box {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 20px;
  color: var(--menu-header-color);
}
body .experience-section .heading-part .section-heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
body .experience-section .heading-part .section-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: var(--light-text-color);
}
body .experience-section .experience-container {
  margin-top: 40px;
}
body .experience-section .experience-container .heading-section {
  text-align: center;
}
body .experience-section .experience-container .heading-section .heading {
  font-weight: 400;
  font-size: 32px;
  color: var(--light-text-color);
}
body .experience-section .experience-container .heading-section .sub-heading {
  font-weight: 700;
  font-size: 48px;
}
body .experience-section .experience-container .experience-section .timeline-section {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
body .experience-section .experience-container .experience-section .timeline-section .container {
  position: relative;
  width: 42%;
  padding: 10px 50px;
  opacity: 0;
  animation: movedown 1s linear forwards;
  cursor: pointer;
}
body .experience-section .experience-container .experience-section .timeline-section .container:hover .text-box {
  box-shadow: 0 0 25px green;
}
body .experience-section .experience-container .experience-section .timeline-section .container .work-image {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -14px;
  top: 32px;
  z-index: 10;
  -o-object-fit: none;
     object-fit: none;
  background: white;
  box-shadow: 0 0 50px var(--menu-header-color);
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box {
  position: relative;
  padding: 20px 30px;
  box-shadow: 0 0 25px var(--menu-header-color);
  border-radius: 6px;
  font-size: 15px;
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-area {
  display: flex;
  justify-content: space-between;
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-area .work-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-area .work-location {
  font-size: 18px;
  color: var(--light-text-color);
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-experience {
  margin-top: 20px;
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-experience .work-position {
  font-size: 20px;
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-experience .work-time {
  color: var(--light-text-color);
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .work-experience .work-details {
  margin-top: 20px;
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--background-color);
  right: -11px;
}
body .experience-section .experience-container .experience-section .timeline-section .container .text-box .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--background-color);
  left: -14px;
}
body .experience-section .experience-container .experience-section .timeline-section .container:nth-child(1) {
  animation-delay: 0s;
}
body .experience-section .experience-container .experience-section .timeline-section .container:nth-child(2) {
  animation-delay: 1s;
}
body .experience-section .experience-container .experience-section .timeline-section .container:nth-child(3) {
  animation-delay: 2s;
}
@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body .experience-section .experience-container .experience-section .timeline-section .left-container {
  left: -6px;
}
body .experience-section .experience-container .experience-section .timeline-section .right-container {
  left: 50%;
}
body .experience-section .experience-container .experience-section .timeline-section .right-container img {
  left: -20px;
}
body .experience-section .experience-container .experience-section .timeline-section::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: var(--text-color);
  left: 50%;
  top: 0;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@media screen and (max-width: 787px) {
  body .experience-section .experience-container .experience-section .timeline-section {
    margin: 50px auto;
  }
  body .experience-section .experience-container .experience-section .timeline-section::after {
    left: 31px;
  }
  body .experience-section .experience-container .experience-section .timeline-section .container {
    width: 80%;
    margin-top: 40px;
    padding: 0px 25px 0px 80px;
  }
  body .experience-section .experience-container .experience-section .timeline-section .container img {
    left: 10px;
  }
  body .experience-section .experience-container .experience-section .timeline-section .container .arrow {
    border-right: 15px solid var(--background-color) !important;
    border-left: 0 !important;
    left: -15px;
  }
  body .experience-section .experience-container .experience-section .timeline-section .right-container {
    left: 0;
  }
}
body .experience-section .service-container .heading-section {
  text-align: center;
}
body .experience-section .service-container .heading-section .heading {
  font-weight: 700;
  font-size: 48px;
}
body .experience-section .service-container .service-section {
  margin-top: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  body .experience-section .service-container .service-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 420px) {
  body .experience-section .service-container .service-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
body .experience-section .service-container .service-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.6;
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 1px 1px 10px grey;
  cursor: pointer;
}
body .experience-section .service-container .service-section .box:hover {
  opacity: 1;
  box-shadow: 1px 1px 20px grey;
}
body .experience-section .service-container .service-section .box .icon i {
  font-size: 40px;
  color: var(--menu-header-color);
}
body .experience-section .service-container .service-section .box .title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}
body .experience-section .service-container .service-section .box .text {
  font-size: 16px;
  font-size: 400;
}
body .experience-section .skills-container {
  margin-top: 100px;
}
body .experience-section .skills-container .info-heading-section .info-heading {
  text-decoration: underline;
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
body .experience-section .skills-container .info-heading-section .info-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: var(--light-text-color);
}
body .experience-section .skills-container .skills-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  margin-top: 40px;
}
@media screen and (max-width: 1024px) {
  body .experience-section .skills-container .skills-section {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  body .experience-section .skills-container .skills-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 420px) {
  body .experience-section .skills-container .skills-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
body .experience-section .skills-container .skills-section .html-box {
  box-shadow: 0 0 15px orange;
}
body .experience-section .skills-container .skills-section .css-box {
  box-shadow: 0 0 15px blue;
}
body .experience-section .skills-container .skills-section .js-box {
  box-shadow: 0 0 15px yellow;
}
body .experience-section .skills-container .skills-section .typescript-box {
  box-shadow: 0 0 15px blue;
}
body .experience-section .skills-container .skills-section .nodejs-box {
  box-shadow: 0 0 15px green;
}
body .experience-section .skills-container .skills-section .vuejs-box {
  box-shadow: 0 0 15px green;
}
body .experience-section .skills-container .skills-section .nuxtjs-box {
  box-shadow: 0 0 15px green;
}
body .experience-section .skills-container .skills-section .prismic-box {
  box-shadow: 0 0 15px purple;
}
body .experience-section .skills-container .skills-section .linux-box {
  box-shadow: 0 0 15px #000;
}
body .experience-section .skills-container .skills-section .skills-box {
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
body .experience-section .skills-container .skills-section .skills-box:hover {
  transform: scale(1.1);
}
body .experience-section .skills-container .skills-section .skills-box .skills-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .experience-section .skills-container .skills-section .skills-box .skills-heading .skills-icon {
  height: 60px;
  width: 60px;
}
body .experience-section .skills-container .skills-section .skills-box .skills-heading .skills-icon img {
  height: 100%;
  width: 100%;
}
body .experience-section .skills-container .skills-section .skills-box .skills-heading .skills-title {
  margin-top: 10px;
  font-size: 18px;
  color: var(--light-text-color);
}
body .experience-section .skills-container .skills-section .skills-box .skills-info {
  margin-top: 20px;
  font-size: 18px;
  color: var(--light-text-color);
}
body .project-section .project-container {
  display: flex;
  justify-content: center;
  min-height: 700px;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container {
    min-height: 500px;
  }
}
body .project-section .project-container .heading {
  position: relative;
}
body .project-section .project-container .info-heading-section {
  position: relative;
  display: flex;
  justify-content: center;
}
body .project-section .project-container .info-heading-section .info-heading-stroke {
  font-size: 58px;
  font-weight: 400;
  color: var(--background-color);
  -webkit-text-stroke: 1px var(--text-color);
  opacity: 0.3;
  position: relative;
  right: -10px;
}
body .project-section .project-container .info-heading-section .info-heading {
  position: absolute;
  top: 12px;
  font-size: 60px;
  font-weight: 600;
  color: var(--text-color);
}
body .project-section .project-container .project-slider-zone {
  margin-top: 80px;
  position: absolute;
  width: 100vw;
  max-width: 1200px;
  height: 580px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone {
    height: 500px;
  }
}
body .project-section .project-container .project-slider-zone .slider {
  position: absolute;
  inset: 80px 200px 80px 80px;
  background: #ccc;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider {
    position: absolute;
    inset: 40px 40px 200px 40px;
  }
}
body .project-section .project-container .project-slider-zone .slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides {
    width: 100px;
    height: 100px;
    bottom: 170px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
  }
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(1) {
  opacity: 0.8;
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(1), body .project-section .project-container .project-slider-zone .slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover;
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(1) .content, body .project-section .project-container .project-slider-zone .slider .slides:nth-child(2) .content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(3) {
  left: calc(50% + 240px);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides:nth-child(3) {
    left: 0;
  }
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(4) {
  left: calc(50% + 500px);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides:nth-child(4) {
    left: 120px;
  }
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(5) {
  left: calc(50% + 760px);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides:nth-child(5) {
    left: 240px;
  }
}
body .project-section .project-container .project-slider-zone .slider .slides:nth-child(6) {
  left: calc(50% + 1020px);
  background-size: cover;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides:nth-child(6) {
    left: 360px;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides:nth-child(1), body .project-section .project-container .project-slider-zone .slider .slides:nth-child(3), body .project-section .project-container .project-slider-zone .slider .slides:nth-child(4), body .project-section .project-container .project-slider-zone .slider .slides:nth-child(5), body .project-section .project-container .project-slider-zone .slider .slides:nth-child(6) {
    height: 60px;
    top: 330px;
  }
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides:nth-child(1) {
    opacity: 0;
  }
}
body .project-section .project-container .project-slider-zone .slider .slides .content {
  position: absolute;
  bottom: 0px;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  z-index: 1000;
  transform: translateY(40px);
  opacity: 0;
}
body .project-section .project-container .project-slider-zone .slider .slides .content .context {
  background: rgba(83, 36, 202, 0.2);
  padding: 20px;
  border-radius: 5px;
}
body .project-section .project-container .project-slider-zone .slider .slides .content .context .project-title {
  font-size: 22px;
  font-weight: 700;
  color: var(--white-color);
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides .content .context .project-title {
    font-size: 16px;
  }
}
body .project-section .project-container .project-slider-zone .slider .slides .content .context .project-details {
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
}
@media screen and (max-width: 768px) {
  body .project-section .project-container .project-slider-zone .slider .slides .content .context .project-details {
    font-size: 10px;
  }
}
body .project-section .project-container .project-slider-zone .button {
  position: absolute;
  bottom: 0px;
  display: flex;
  gap: 80px;
}
body .project-section .project-container .project-slider-zone .button span {
  position: relative;
  width: 50px;
  height: 50px;
  background: #111111;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body .project-section .project-container .project-slider-zone .button span:hover {
  opacity: 1;
  background: #22242f;
}
body .project-section .project-container .project-slider-zone .button span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(315deg) translate(2px, 2px);
}
body .project-section .project-container .project-slider-zone .button span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px, 2px);
}
body .education-section .heading-part .section-heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
body .education-section .heading-part .section-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: var(--light-text-color);
}
body .education-section .education-container-box:last-child {
  margin-bottom: 30px;
}
body .education-section .education-container-box {
  height: 400px;
  width: 80vw;
  position: relative;
  margin-top: 40px;
  margin-bottom: 400px;
}
@media screen and (max-width: 767px) {
  body .education-section .education-container-box {
    margin-bottom: 200px;
  }
}
body .education-section .education-container-box .card_container .pg {
  position: absolute;
  height: 450px;
  width: 40%;
  right: -10px;
  bottom: 0px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  body .education-section .education-container-box .card_container .pg {
    display: none;
  }
}
body .education-section .education-container-box .card_container .pg img {
  height: 510px;
}
body .education-section .education-container-box .card {
  animation: backAn 50s infinite;
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 45px 100px var(--shadow-one), inset 0 0 0 1000px var(--shadow-two);
}
body .education-section .education-container-box .card .text-block {
  position: relative;
  z-index: 2;
  text-shadow: 0 3 10 rgba(0, 0, 0, 0.7);
}
body .education-section .education-container-box .card .text-block h1 {
  font-family: "Rubik", Sans-serif;
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
body .education-section .education-container-box .card .text-block small {
  font-size: 20px;
  color: var(--light-text-color);
  position: relative;
}
body .education-section .education-container-box .card .text-block h3 {
  margin: 0;
  font-weight: 700;
}
body .education-section .education-container-box .card .text-block p {
  font-weight: 300;
  width: 60%;
}
body .education-section .education-container-box .card-tenth {
  background: url(./assets/images/DAV.jpeg);
}
body .education-section .education-container-box .card-graduation {
  background: url(./assets/images/JNCT.jpg);
}
@keyframes backAn {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
body .contact-section .heading-part .section-heading {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
body .contact-section .heading-part .section-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: var(--light-text-color);
}
body .contact-section .contact-main-section {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body .contact-section .contact-main-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/images/DAV.jpeg);
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
}
body .contact-section .contact-main-section .contact-box-container {
  max-width: 900px;
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  margin: 40px 0px;
  padding: 10px 40px;
}
@media screen and (max-width: 768px) {
  body .contact-section .contact-main-section .contact-box-container {
    display: block;
    padding: 20px 10px;
  }
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .head-text {
  font-size: 20px;
  padding-left: 10px;
  color: var(--text-color);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .detail-section .data {
  margin: 15px;
  cursor: pointer;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .detail-section .data a {
  color: var(--text-color);
  text-decoration: none;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .detail-section .data a:hover {
  border-bottom: 1px solid var(--text-color);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .detail-section .data i {
  font-size: 20px;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .detail-section .data span {
  margin-left: 10px;
  font-size: 18px;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container {
  margin-top: 80px;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .sub-text {
  font-size: 20px;
  padding-left: 12px;
  color: var(--text-color);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list {
  display: flex;
  padding: 0;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li {
  list-style: none;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li:nth-child(1) a:before {
  background: #3b5999;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li:nth-child(2) a:before {
  background: rgba(255, 0, 0, 0.5);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li:nth-child(3) a:before {
  background: #3b5999;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li:nth-child(4) a:before {
  background: #0077b5;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li:nth-child(5) a:before {
  background: #55acee;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a:hover::before {
  top: 0;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a .icon {
  position: relative;
  bottom: 12px;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  body .contact-section .contact-main-section .contact-box-container .contact-section-left-side .social-media-container .social-media-list li a .icon {
    bottom: 25px;
  }
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side {
  padding: 25px 40px;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form {
  display: grid;
  grid-column: span 2;
  margin-top: 2.55rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap {
  position: relative;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap .contact-input {
  width: 70%;
  background-color: var(--input-bg);
  padding: 1.5rem 4.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  border-radius: 20px;
  color: var(--black-color);
  font-size: 0.95rem;
  font-weight: 600;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 55%, 0.169);
  transition: 0.3s;
  -webkit-line-clamp: 4;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap .contact-input:hover {
  background-color: hsla(var(--input-bg-hover), 50%, 50%, 8.5%);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap label {
  position: absolute;
  top: 50%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: var(--light-text-color);
  pointer-events: none;
  transition: 0.25s;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap .icon {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--input-text);
  font-size: 1.25rem;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap .icon {
    right: 10px;
  }
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form textarea.contact-input {
  resize: none;
  width: 70%;
  min-height: 100px;
  -webkit-line-clamp: 4;
  white-space: unset !important;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form textarea.contact-input ~ label {
  top: 1.2rem;
  transform: none;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form textarea.contact-input ~ .icon {
  top: 1.3rem;
  transform: none;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap.focus .contact-input {
  background-color: var(--bg-color);
  border: 2px solid hsla(var(--light-main-color), 91%, 55%, 8.5%);
  box-shadow: 0 0 0 0px hsla(var(--main-hue), 91%, 55%, 0.11);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap.focus label {
  color: var(--light-main-color);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap.focus .icon {
  color: var(--light-main-color);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .input-wrap.not-empty label {
  font-size: 0.66rem;
  top: 0.75rem;
  transform: translateY(0);
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .submit-button {
  margin-top: 10px;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .submit-button .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--input-bg-hover);
  color: var(--text-color);
  border-radius: 40px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
body .contact-section .contact-main-section .contact-box-container .contact-section-right-side .form-section .contact-form .submit-button .button:hover {
  background-color: var(--light-text-color);
}
body .footer {
  padding: 70px 0px 40px 0px;
  border-top: 1px solid var(--light-text-color);
}
@media screen and (max-width: 767px) {
  body .footer {
    padding: 20px 0px 20px 0px;
  }
}
body .footer .footer-container {
  display: flex;
  justify-content: center;
}
body .footer .footer-container .footer-section .footer-heading .list-menu {
  display: flex;
}
@media screen and (max-width: 767px) {
  body .footer .footer-container .footer-section .footer-heading .list-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}
body .footer .footer-container .footer-section .footer-heading .list-menu li {
  list-style: none;
  margin: 0px 20px;
}
@media screen and (max-width: 767px) {
  body .footer .footer-container .footer-section .footer-heading .list-menu li {
    margin: 20px !important;
  }
}
body .footer .footer-container .footer-section .footer-heading .list-menu li a {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
body .footer .footer-container .footer-section .footer-heading .list-menu li a:hover {
  color: var(--menu-header-color);
}
body .footer .footer-container .footer-section .copyright-section {
  margin-top: 40px;
  text-align: center;
  color: var(--light-text-color);
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */